<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
	{% block head %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>
</head>
<body>

{% block navbar %}

	<nav class="navbar">
		<div class="profile">
			<a href="{{ url_for('get_profile_page') }}">Profile</a>
		</div>
        <ul class="nav-links">
            <li><a href="{{ url_for('get_menu_page') }}">Menu</a></li>
            <li><a href="{{ url_for('get_login') }}">Logout</a></li>
            <li><a href="{{ url_for('get_add_quests') }}">Add quests</a></li>
						<li><a href="{{ url_for('feedback_page') }}">Feedback</a></li>
        </ul>
    </nav>

{% endblock navbar %}

{% block content %}
{% endblock content %}

</body>
</html>
