{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}

    <div class="profile-container">
        <div class="profile-card">
            <img src="{{ profile.photo }}" alt="Profile Photo" class="profile-photo">
            <h1>{{ profile.username }}</h1>
            <p class="points">Очки: {{ profile.points }}</p>

            <h2>Информация о профиле</h2>
            <p><strong>Email:</strong> {{ profile.gmail }}</p>
            <p><strong>Описание:</strong> {{ profile.prof_description }}</p>

            <h3>Выполненные квесты:</h3>
            {% if completed_quests %}
                <ul class="quest-list">
                    {% for quest in completed_quests %}
                        <li>
                            <strong>{{ quest['name'] }}</strong> - {{ quest['points'] }} очков
                            <br>
                            <span class="completion-date">Завершено: {{ quest['completion_date'] }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Квесты ещё не выполнены.</p>
            {% endif %}

            <div class="button-group">
                <a href="{{ url_for('get_edit_profile_page') }}" class="btn edit">Редактировать профиль</a>
            </div>

        </div>
    </div>

{% endblock content %}
